.kui_list {
	width: 168px;
	display: inline-block;
}
.kui_list-content {
	display: none;
	position: absolute;
	background-color: #fefefe;
	width: inherit;
	overflow: auto;
	border: 1px solid #ddd;
	z-index: 1;
}

.kui_list-content a {
	color: black;
	text-decoration: none;
	display: block;
}

.kui_list a:hover {background-color: #dedede;}
